 @charset "utf-8";
 
h1 {
	font-size: 2em;
	padding: 0.5em;
}

img {
	width: 30%;
	height: 30%;
}

[id^=html] {
	display: none;
}

hr{ 
  height: 2px;
  background-color: black;
  border: none;
}

[id^=htm0] {
	text-decoration: none;
	color: white;
}

a#htm01:hover {
	display: block