 @charset "utf-8";
   
h1 {
	font-size: 2em;
	padding: 0.5em;
}

img {
	width: 30%;
	height: 30%;
}

div.Html {
	display: none;
}

hr{ 
  height: 2px;
  background-color: black;
  border: none;
}

[id^=htm0] {
	text-decoration: none;
	color: white;
	float: left;
	width: 16.666%;
	height: 100%;
	font-size: 1.5em;
}

#cases li:hover + div.Html{
	display: block;
}

div.Html:hover {
	display: block;
}


article {
	background-size: 0%;
	line-height: 2em;
}

img {
	border-radius: 15%;
}

@media only screen and (max-width:480px){
	
a[id^=htm0]{
	width: 33%;
	
}
}