 @charset "utf-8";
 
h1 {
	font-size: 2em;
	padding: 0.5em;
}

img {
	width: 30%;
	height: 30%;
}

div.Html {
	display: none;
}

hr{ 
  height: 2px;
  background-color: black;
  border: none;
}

[id^=htm0] {
	text-decoration: none;
	color: white;
	float: left;
	width: 16.666%;
	font-size: 1.25em;
}

a#htm01:hover + div.Html {
	display: block;
}