@charset "utf-8";

aside {
	float: left;
	color: white;
    background: linear-gradient( rgb(179, 205, 230), rgb(27, 86, 142));
    clear: both;
	max-width: 33%;
	font-size: 1.4em;
	border: 2px solid black;
	line-height: 110%;
}

aside img {
	display: block;
	width: 50%;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}

aside h1 {
	text-align: center;
	text-decoration: underline;
	padding-bottom: 10%;
}

section#other {
	clear: left;
	float: right;
	min-height: 100%;
}

section#other img {

}