@charset "utf-8";

div#all {
	width: 100%;
}


aside {
	color: white;
    background: linear-gradient( rgb(179, 205, 230), rgb(27, 86, 142));
	width: 34%;
	font-size: 1.4em;
	border: 2px solid black;
	line-height: 110%;
	float: left;
}

aside img {
	display: block;
	width: 50%;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}

aside h1 {
	text-align: center;
	text-decoration: underline;
	padding-bottom: 10%;
}

section#other {
	width: 65%;
	float: left;
}

section#other img {
	width: 100%;
}

