@charset "utf-8";

/*Reset Styles*/

header,  nav, section { 
   display: block;
}

body, h1, header, html, img, 
li, main, nav, nav a, section, ul {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
}


body {
   line-height: 1.2em;
}

ul, ol {
   list-style: none;
}

nav ul {
   list-style: none;
   list-style-image: none;
}

nav a {
   text-decoration: none;
}
 
/*Actual Styles*/
html{ 
	background-color: #3366cc;
}

body {
	background: #3366cc;
	height: 100%;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

header {
	background: linear-gradient(to right, #526AAC 5%, #0A1B2D);
}

div.galaxy{ 
	background-repeat: repeat;
	background-image: url(1-milkyway.jpg);
	background-size: cover;	
}

div.galaxy section { 
	color: white;
	text-align: center;
	font-size: 5em;	
}

section#other {
	min-height: 750px;
	width: 66.666%;
	height: 100%;
}

a#navicon {
	display: none;
}

nav.horizontal {
	background-image: url(download.jpeg);
	min-height: 2em;
    text-align: center;
	border: 2px solid #003399;
	min-height: 53px;
}

nav.horizontal ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.horizontal li {
	color: rgb(31, 73, 125);
	float: left;
	line-height: 2em;
	text-transform: uppercase;
	width: 20%;
	background-image: radial-gradient( #27417A, #0A1B2D);
	height: 100%;
}

nav.horizontal a {
	display: block;
	font-size: 1em;
}

nav.horizontal a:visited, nav.horizontal a:link {
	color: #0A1B2D;
}

nav.horizontal a:hover, nav.horizontal a:active {
	background-image: radial-gradient( rgb(164, 92, 196), rgb(58, 0, 84)); 
	color: white;
}

footer {
	color: white;
	background-color: #3366cc;
	font-size: 0.8em;
	text-align: center;
	padding-top: 1px;
	padding-bottom:1px;
  }

@media only screen and (max-width: 530px) {

div.galaxy section{
	font-size: 2em;
}

nav.horizontal ul {
	display: none;
}

a#navicon:hover+ul, a#navicon ul:hover {
		display: block;
		list-style-type: none;
	}







}
