@charset "utf-8";

/*Reset Styles*/

header,  nav, section { 
   display: block;
}

body, h1, header, html, img, 
li, main, nav, nav a, section, ul {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
}

body {
   line-height: 1.2em;
}

ul, ol {
   list-style: none;
}

nav ul {
   list-style: none;
   list-style-image: none;
}

nav a {
   text-decoration: none;
}
 
/*Actual Styles*/
html{ 
	background-image: linear-gradient(#0D4F8B, #8A2BE2, #0D4F8B);
	background-repeat: no-repeat;
	min-height: 100%;
}

body {
	height: 100%;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 75%;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	padding-bottom: 40px;
}

header {
	background: linear-gradient(to right, #526AAC 5%, #0A1B2D);
}

div.galaxy{ 
	background-repeat: repeat;
	background-image: url(1-milkyway.jpg);
	background-size: cover;	
}

div.galaxy section { 
	color: white;
	text-align: center;
	font-size: 5em;	
	line-height: 80%;
}

a#navicon {
	display: none;
}

nav.horizontal {
	background-image: url(download.jpeg);
	min-height: 100%;
    text-align: center;
	border: 2px solid #003399;
	overflow: hidden;
}

nav.horizontal ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
	height: 100%;
}

nav.horizontal li {
	color: rgb(31, 73, 125);
	float: left;
	line-height: 2em;
	text-transform: uppercase;
	width: 20%;
	background-image: radial-gradient( #27417A, #0A1B2D);
	height: 100%;
}

nav.horizontal a {
	display: block;
	font-size: 1em;
}

nav.horizontal a:visited, nav.horizontal a:link {
	color: #0A1B2D;
}

nav.horizontal a:hover, nav.horizontal a:active {
	background-image: radial-gradient( rgb(164, 92, 196), rgb(58, 0, 84)); 
	color: white;
}

footer {
	clear: both;
	color: white;
	background-color: #108070;
	font-size: 0.8em;
	text-align: center;
	padding-bottom:0%;
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 35px;
	width: 100%;
	font-size: 1.2em;
}

@media only screen and (max-width: 480px) {

div.galaxy {
	max-height: 256px;
}


aside p{
	font-size: 0.5em;
	line-height: 1em;
}
aside h1{
	font-size: 0.75em;
}

section#other img {
	width: 50%;
	height: 50%;
}

nav.horizontal ul {
	clear: both;
	width: 100%;
}

nav.horizontal li a {
	font-size: 0.75em;
}






}
