@charset "utf-8";


html{ 
	background-color: rgb(29, 117, 135);
}

body {
   background: white center center / cover no-repeat fixed;
   height: 100%;
   font-family: Verdana, Geneva, sans-serif;
   font-size: 12px;
   margin-left: auto;
   margin-right: auto;
   width: 60%;
}

header {
	background-color: #0A1B2D;
}

div.galaxy{ 
	background-repeat: repeat;
	background-image: url(1-milkyway.jpg);
	background-size: cover;	
}

div.galaxy section { 
	color: white;
	text-align: center;
	font-size: 5em;	
}

nav.horizontal {
   background-color: rgb(40, 181, 38);
   min-height: 2em;
   text-align: center;
}

nav.horizontal ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.horizontal li {
   color: rgb(31, 73, 125);
   float: left;
   line-height: 2em;
   text-transform: uppercase;
	width: 16.6666%;
	background-image: radial-gradient( rgb(112, 249, 158), rgb(40, 181, 38));
}

nav.horizontal a {
   display: block;
   font-size: 1em;
}

nav.horizontal a:visited, nav.horizontal a:link {
   color: #0A1B2D;
}

nav.horizontal a:hover, nav.horizontal a:active {
   background-image: radial-gradient( rgb(55, 60, 119), #0A1B2D); 
   color: white;
}

aside {
	float: left;
	color: white;
    background: linear-gradient( rgb(179, 205, 230), rgb(27, 86, 142));
    clear: both;
	max-width: 33.33%;
	font-size: 1.4em;
}

aside::after {
   content: "";
   display: table;
   clear: both;
}

aside img {
   display: block;
   width: 50%;
   border-radius: 50%;
   margin-left: auto;
   margin-right: auto;
}

footer{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 5px;
	background-color: #efefef;
	text-align: center;
  }

@media only screen and (max-width: 480px) {

   nav.horizontal a {
      font-size: 1.5em;
      line-height: 2.2em;
   } 
 
