@charset "utf-8"; 

img {
	width: 100px;
	height: 100px;
	float: left;
}

section  th{
	font-size: 2em;
	padding: 5px;
	line-height: 1em;
	text-align: left;
	border: 2px solid black;
	width: 50%;
}


table {
	border: 2px solid black;
}

td {
	border: 2px solid black;
	border-collapse: collapse;
}

img {
	border-radius: 15%;
}

hr{ 
  height: 2px;
  background-color: black;
  border: none;
}

